doctype
html(lang='zh-TW')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='https://cdn.tailwindcss.com') 
        title What's Your Name?
    body
        div(class='grid place-items-center h-screen')
            div(class='w-[60%]')
                if name
                    h1.text-2xl.font-medium Hi, #{name}
                    a(href='/myName?goodbye', class='inline-block mt-[20px] bg-[#18181C] text-white py-[8px] px-[16px] rounded-[6px] font-medium text-[14px]') Goodbye
                else 
                    form(action="/trackName", method="get") 
                        label(class='block mb-[8px] opacity-70 font-medium') Please Enter Your Name :
                        input(type='text', name='name', class='block border border-[#e4e4e7] rounded-[6px] py-[8px] px-[12px] text-[16px] w-full focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 ring-zinc-500 outline-0')
                        button(type='submit', class='block mt-[20px] bg-[#18181C] text-white py-[8px] px-[16px] rounded-[6px] font-medium text-[14px]') Send

